#person {	
	margin:auto;
	display:block;
	max-height:300px;
	max-width:800px;
}

#buttons {
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;

}

#container-fluid {
	padding: 50px 100px 100px 100px
}

#scoring{
	align-content: center;
	text-align:center;
}

#choice{
	text-align:center;
}

#points{
	align-content:center;
	text-align: center;
	padding-top: 50px;
}
.btn:focus {
	outline:none !important;
}

.total-points {
	text-align: center;
}

#header {
	text-align: center;
}